/**
*CSS styles for Con-Man
*@author deddy <pheagey@gmail.com>
*@since 0.0.1
*@version 0.0.1
*@date 2013-10-04
*/

body {
	 overflow:hidden;
	 padding: 1%;
}

#header_bar {
	position: fixed;
	top:0px;
	width: 100%;
}

#body_content {
	overflow-x:hidden;
	overflow-y:scroll;
	height:90%
}

/*twbs overrides */
.navbar .navbar-nav > .active > a {
	background-color: #aaaaaa;
}

h1, h2, h3, h4, h5, h6 {

	margin: 8px;
}

#data_container {
	overflow-x:hidden;
	overflow-y:scroll;
	height: 80%;
}

.bs-example {
	margin-right: 15px;
	min-height:75px;
}

input.form-control, button.btn {
	width: 12% !important;
	display: inline;
	margin: 2.5px;
	display: inline;
}

.add_data_container {
	margin-top:15px;
	padding:5px
}
